body {
    width: 1024px;
    height: 768px;
    margin: 0px;
    overflow: hidden;
    z-index: 55555555;
}
.info {
    position: absolute;
    z-index: 10; /* 사진 2개 넣었더니 이거 해줘야됨 */
    width: 350px;
    height: 350px;
    margin-top: 193px;
    margin-left: 337px;
    border-top: rgb(235, 235, 108) solid 6px;
    border-bottom: rgb(235, 235, 108) solid 6px;
    overflow: hidden;  
}

.button {
    position: absolute;
    opacity: 0.5;

}
.button:hover {
    opacity: 1;
}
#return {
    float: left;
    margin-top: 350px;  

}
#next {
    float: right;
    margin-top: 350px;
    margin-left: 890px; 
}

#page {
    position: absolute;
    background: none;
    border: none;
    font-size: 40px;
    font-family: 'Bodoni Moda', serif;
    margin-left: 720px;
    margin-top: 710px;
    z-index: 50;
    width: 300px;
    opacity: 0.7;
    color: rgb(150, 189, 189);
}
table {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 150px;
    margin-top: 560px;
    margin-left: 850px;
    z-index: 50;
    visibility: hidden;
}
table a {
    text-decoration: none;
    font-weight: bold;
    color:rgba(67, 181, 209, 0.767);
}
#pageline {
    position: absolute;
    z-index: 40;
    border: solid 1px rgb(121, 148, 148);
    margin-top: 737px;
    margin-left: 733px;
    width: 0px;
}
.tf:hover {
    animation: none;
    transform: none;
}
p {
    margin-top: 0px;
}
.tf {
    font-family: 'Bodoni Moda', serif;
    color:  rgb(235, 235, 108);
    font-size: 40px;     
    font-weight: bold;
    animation: myintroduce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
 @keyframes myintroduce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-1000px);
    }
}


