body {
    position: relative;
    width: 1024px;
    height: 768px;
    margin: 0px;
    background-image: url(../images/20190326_145317.jpg);
    background-size: 1024px, 768px; 
    background-repeat: no-repeat;/* 배경이미지 1번만 나오게 */
    overflow: hidden;
}
.button {
    position: absolute;
    opacity: 0.5;
    display: contents;
}
.button:hover {
    opacity: 1;
}
#return {
    float: left;
    margin-top: 350px;  

}
#next {
    float: right;
    margin-top: 350px;
    margin-left: 890px; 
}

.stairs button {
    width: 135px;
    height: 44px;
    border: 1px solid rgb(48, 102, 102);
    background: none;
    border-radius: 9px; /* 버튼 둥글리기 */
    text-align: center;
    font-size: 20px;
    position: absolute;
    opacity: 0.7;
    color: rgba(176, 224, 230, 0.678);
    background-color: rgba(128, 128, 128, 0.383);
}

.stairs button:hover {
    transform: scale(1.5);
    color: powderblue;
    opacity: 1;
    font-weight: bold;
    border: 3px solid rgb(48, 102, 102);
}

p {
    position: absolute;
    width: 220px;
    height: 170px;
    border: 5px solid rgb(238, 255, 0);
    float: none;
    margin-left: 680px;
    margin-top: 425px;
    border-radius: 20px;
    background-color: rgba(255, 255, 184, 0.555);
    color: #000;
    text-align: center;
    padding: 20px;
    opacity: 0.7;
    visibility: hidden;
}


#pageline {
    margin-top: 737px;
    margin-left: 746px;
    display: inline-block;
    border: solid 1px rgb(204, 245, 19);
    opacity: 0.7;
    position: absolute;
}

#page {
    position: absolute;
    background: none;
    border: none;
    font-size: 40px;
    font-family: 'Bodoni Moda', serif;
    margin-left: 736px;
    margin-top: 710px;
    z-index: 50;
    width: 283px;
    opacity: 0.9;
    color:rgb(242, 245, 67);
}
#list {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 150px;
    float: right;
    margin-top: 560px;
    margin-left: 850px;
    z-index: 500;
    visibility: hidden;
}
table a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(176, 211, 79);
}
